<?xml version="1.0" encoding="utf-8"?>

<restrict>
  <http>
    <method>get</method>
  </http>

  <commands>
    <command>read</command>
    <command>list</command>
  </commands>
</restrict>
